.thumbnails {
    --height: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    grid-auto-rows: var(--height);
}
.thumbnails img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}